:root {
    --myLightGray: #F4F4F4;
    --mywhite: white;
    --myblack: #27282C;

    --conatainerLateralPadding: 10vw;
    --conatainerVerticalPadding: 5vh;

    --defaulth1: 4vw;
    --defaulth2: 2vw;
    --defaulth3: 1.25vw;
    --defaultTextSize: 1vw;
    --defaultMarginFromHeader: 1vh;
}
html {
    font-size: 62.5%;
}
body {
    text-align: left;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--myblack);
    color: var(--mywhite);
}

/****************           COMMON          ******************/
/*************************************************************/

h1 {
    font-size: var(--defaulth1);
}
h2 {
    font-size: var(--defaulth2);
}
h3 {
    font-size: var(--defaulth3);
}
il, p {
    font-size:  var(--defaultTextSize);
    color: #BFBFB7;
}


/****************           HEADER          ******************/
/*************************************************************/

header {
    padding: 0 var(--conatainerLateralPadding) var(--conatainerVerticalPadding);
}
header img {
    width: 6%;
}
header img, header p {
    display: inline;
}

/*****************       INTRODUCTION      *******************/
/*************************************************************/

.introduction_container {
    padding: var(--conatainerVerticalPadding)  var(--conatainerLateralPadding);
}

.main_header h1, .main_header p {
    display: inline;
}

#container-de-listas-de-objetivos {
    margin-top: 20px;
    display: flex;
}

/*distancia entre as listas*/
.lista-de-objetos {
    margin-left: 30px;
}
/*tira a margem da primeira lista*/
#priemira-lista-de-objetos {
    margin-left: 0;
}
.lista-de-objetos ul {
    margin-top: var(--defaultMarginFromHeader);
}

/*****************          THE GAME       *******************/
/*************************************************************/

.game_container {
    background-color: var(--mywhite);
    padding: var(--conatainerVerticalPadding); var(--conatainerLateralPadding);
}
.unityframe {
    border-style: none;
    width: 100%;
    height: 700px;
}

/****************          GAME INFO        ******************/
/*************************************************************/

.game_info {
    background-color: var(--myLightGray);
    color: black;
    padding: var(--conatainerVerticalPadding) var(--conatainerLateralPadding);
}
/*margem do separador*/
.game_info hr {
    margin-top: 40px;
    margin-bottom: 40px
}
/*distancia do título da molecule para o conteúdo*/
.game_info_content_molecule h2 {
    margin-bottom: 20px;
}
/*distancia do sub-título da molecule para o conteúdo*/
.game_info_content_molecule h3 {
    margin-bottom: var(--defaultMarginFromHeader);
}


/**************  GAME INFO (DESCRIPTIVE IMG) *****************/
/*************************************************************/

.descriptive_img {
    background-color: lightskyblue;
    display: flex;
    border-radius: 15px;
}
.descriptive_img img{
    width: 25vw;
    display: inline;
    border-radius: 15px 0 0 15px ;
}
.descriptive_img p {
    color: black;
    font-size: 1.5vw;
    margin: auto 50px;
}


/****************      GAME INFO (CODE)     ******************/
/*************************************************************/

code {
    background-color: var(--myblack);
    color: white;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    font-size:  var(--defaultTextSize);
    border-radius: 15px;
}

/*************************************************************/
/*************************************************************/

footer p {
    text-align: center;
    font-size: 2rem;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    /*padding: var(--conatainerVerticalPadding) var(--conatainerLateralPadding);*/
}
